.features {
  background: linear-gradient(174.5deg, #ffffff 24.5%, #f2f2f2 24.5%);
  color: black;
}

.features__wrapper {
  width: 320px;
  margin: 0 auto;
}

.features__header {
  padding-top: 42px;
  padding-bottom: 36px;
  box-sizing: border-box;
}

.features__header-item {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  padding: 0 55px 30px;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.2;
}

.features__content {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 48px 30px 320px;
  background: url("../img/iphone-screen-mobile@1x.png") 50% 110% no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px 320px;
  }
}

.features__content-item:not(:first-child) {
  padding-top: 33px;
}

.features__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.features__description {
  margin: 13px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
}

.features__effect {
  display: none;
}

@media (min-width: 660px) {
  .features {
    background: linear-gradient(to top, #ffffff 31.5%, transparent 31.5%),
      linear-gradient(176deg, #ffffff 26.5%, #f2f2f2 26.5%);
  }

  .features__wrapper {
    width: 660px;
  }

  .features__content-item:not(:first-child) {
    padding-top: 36px;
    box-sizing: border-box;
  }

  .features__content-item:last-child {
    padding-top: 36px;
    box-sizing: border-box;
  }

  .features__header {
    padding-top: 50px;
  }

  .features__header-item {
    margin: 0;
    font-size: 40px;
    padding: 0 35px 0;
    font-weight: 300;
    box-sizing: border-box;
    line-height: 1.2;
  }

  .features__header-item:last-child {
    padding: 0 50px 0;
  }

  .features__content {
    text-align: left;
    padding: 84px 10px 65px 330px;
    background: url("../img/iphone-screen-3-tablet@1x.png") 5% 15px no-repeat;
    box-sizing: border-box;
  }

  .features__title {
    text-align: left;
  }

  .features__description {
    text-align: left;
    margin-top: 11px;
    line-height: 1.75;
  }

  .features__effect {
    display: flex;
    box-sizing: border-box;
  }

  .features__effect-timer-block {
    flex: 50%;
  }

  .features__effect-timer-wrapper {
    width: 276px;
    height: 276px;
    margin: 35px 0 0 2px;
    background: url("../img/icon-timer-gray.svg") no-repeat 50% 50%;
    background-size: contain;
    position: relative;
  }

  .features__effect-timer {
    position: absolute;
    padding: 0;
    width: 202px;
    height: 202px;
    font-size: 96px;
    color: #d22856;
    font-weight: bold;
    border: #d22856 solid 14px;
    border-radius: 50%;
    padding-top: 15px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 55px;
  }

  .features__effect-wrapper {
    flex: 50%;
  }

  .features__effect-header {
    font-size: 30px;
    margin: 74px 0 0;
    text-align: left;
    padding-left: 0;
    box-sizing: border-box;
    line-height: 1.2;
    padding-right: 160px;
  }

  .features__effect-header span {
    display: block;
  }

  .features__description span {
    display: block;
  }

  .features__effect-body {
    margin: 10px 0 0;
    font-size: 14px;
    padding-right: 30px;
    box-sizing: border-box;
    line-height: 1.75;
  }

  .features__effect-body .features__effect-body-tablet-span {
    display: block;
  }

  .features__effect-footer {
    display: block;
    margin-top: 12px;
    color: #d22856;
    font-size: 14px;
  }
}

@media (min-width: 960px) {
  .features {
    background: linear-gradient(175.6deg, #ffffff 28.8%, #f2f2f2 28.8%);
  }

  .features__wrapper {
    width: 960px;
  }

  .features__header {
    padding-top: 68px;
  }

  .features__header-item {
    font-size: 50px;
  }

  .features__header-item:last-child {
    padding: 0 150px 0;
  }

  .features__content {
    text-align: left;
    padding: 38px 10px 35px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    background: none;
    flex-wrap: wrap;
  }

  .features__title {
    text-align: center;
    font-size: 30px;
    line-height: 1;
    padding: 0 30px 0;
    box-sizing: border-box;
  }

  .features__description {
    text-align: center;
    font-size: 18px;
    padding: 0 30px 0;
    box-sizing: border-box;
    margin-top: 25px;
  }

  .features__description span {
    display: inline;
  }

  .features__content-item,
  .features__content-item:not(:first-child) {
    width: 300px;
    padding-top: 357px;
    box-sizing: border-box;
  }

  .features__content-item:first-child {
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px 302px;
    }
  }

  .features__content-item:last-child {
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px 302px;
    }
  }

  .features__content-item:nth-child(2) {
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px 302px;
    }
  }

  .features__effect {
    padding: 0 23px 63px 0;
  }

  .features__effect-timer-wrapper {
    width: 320px;
    height: 345px;
    margin: 30px 0 0 0;
    background: url("../img/icon-timer-gray.svg") no-repeat 50% 50%;
    background-size: contain;
    position: relative;
  }

  .features__effect-timer {
    position: absolute;
    padding: 0;
    width: 253px;
    height: 253px;
    font-size: 120px;
    color: #d22856;
    font-weight: bold;
    border: #d22856 solid 17px;
    border-radius: 50%;
    padding-top: 18px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 68px;
  }

  .features__effect-header {
    font-size: 30px;
    margin: 118px 0 0;
    text-align: left;
    padding-left: 0;
    box-sizing: border-box;
    line-height: 1.2;
  }

  .features__effect-header span {
    display: inline;
  }

  .features__effect-body {
    width: 560px;
    margin: 20px 0 0;
    font-size: 18px;
    padding-right: 30px;
    box-sizing: border-box;
    line-height: 1.71;
  }

  .features__effect-body .features__effect-body-tablet-span {
    display: inline;
  }

  .features__effect-body .features__effect-body-desktop-span {
    display: block;
  }

  .features__effect-footer {
    display: block;
    margin-top: 35px;
    color: #d22856;
    font-size: 18px;
  }
}
