.features {
  background-color: #f2f2f2;
  color: black;
}

.features__header {
  padding-top: 35px;
  padding-bottom: 38px;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.features__header-item {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  padding: 0 55px 22px;
  text-align: center;
}

.features__content {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px 30px 322px;
  background: url("../img/iphone-screen-mobile@1x.png") 50% 108% no-repeat;
}

.features__content-item {
  padding-top: 35px;
}

.features__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.features__description {
  margin: 13px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
}
