.feedback {
  color: black;
  background: #ffffff;
}

.feedback__wrapper {
  width: 320px;
  margin: 0 auto;
}

.feedback__item {
  margin: 45px 20px 33px;
  display: flex;
  flex-direction: column;
}

.feedback__author {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.feedback__text {
  font-size: 14px;
  line-height: 2.2;
  text-align: center;
  padding: 0;
  margin: 15px 0 0;
}

.feedback__arrow-button-left,
.feedback__arrow-button-right {
  display: none;
}

.feedback__toggle {
  margin-left: 128px;
  padding-bottom: 3px;
}

.feedback__author-description {
  display: none;
}

@media (min-width: 660px) {
  .feedback {
    color: black;
  }

  .feedback__item {
    margin: 46px 15px 33px;
  }

  .feedback__wrapper {
    width: 660px;
  }

  .feedback__text {
    font-size: 18px;
    margin-top: 53px;
    line-height: 1.67;
  }

  .feedback__author-wrapper {
    order: 1;
  }

  .feedback__author {
    font-size: 20px;
    margin-top: 36px;
  }

  .feedback__author-description {
    display: block;
    padding: 0;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 7px;
  }

  .feedback__toggle {
    margin-left: 299px;
    padding-bottom: 3px;
  }
}

@media (min-width: 960px) {
  .feedback {
    color: black;
  }

  .feedback__wrapper {
    width: 960px;
    padding-top: 87px;
    background: url("../img/icon-quotes-grey.svg") no-repeat;
    background-size: 79px 63px;
    background-position: center 72px;
  }

  .feedback__text {
    padding: 0;
    font-size: 18px;
    padding-right: 30px;
    margin-bottom: 2px;
  }

  .feedback__list {
    position: relative;
  }

  .feedback__item {
    width: 960px;
    padding: 3px 100px 2px;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  .feedback__arrow-button-left {
    display: block;
    border: none;
    outline: none;
    position: absolute;
    width: 22px;
    height: 41px;
    background: url("../img/icon-review-arrow-left-grey.svg");
    top: 85px;
    left: 10px;
  }

  .feedback__author-wrapper {
    padding-right: 30px;
  }

  .feedback__arrow-button-left:hover {
    background: url("../img/icon-review-arrow-left.svg");
  }

  .feedback__arrow-button-left:active {
    background: url("../img/icon-review-arrow-left.svg");
    opacity: 0.1;
  }

  .feedback__arrow-button-left:focus {
    outline: solid 2px deepskyblue;
  }

  .feedback__arrow-button-right:focus {
    outline: solid 2px deepskyblue;
  }


  .feedback__arrow-button-right {
    display: block;
    border: none;
    outline: none;
    position: absolute;
    width: 22px;
    height: 41px;
    background: url("../img/icon-review-arrow-right-grey.svg");
    top: 85px;
    right: 10px;
  }

  .feedback__arrow-button-right:hover {
    background: url("../img/icon-review-arrow-right.svg");
  }

  .feedback__arrow-button-right:active {
    background: url("../img/icon-review-arrow-right.svg");
    opacity: 0.1;
  }

  .feedback__author {
    margin-top: 32px;
    font-size: 24px;
  }

  .feedback__author-description {
    font-size: 18px;
    margin-top: 4px;
  }

  .feedback__toggle {
    display: none;
  }
}
