.page-header {
  background-color: #283645;
  width: auto;
  color: white;
  margin: 0;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px;
  width: 320px;
  margin: auto;
  box-sizing: border-box;
}

.page-header__toggle {
  padding: 0;
  background-color: transparent;
  border: none;
}

@media (min-width: 660px) {
  .page-header__top {
    width: 660px;
    padding: 48px 20px 34px;
  }
}

@media (min-width: 960px) {
  .page-header {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .page-header__wrapper {
    margin: 0 auto;
    padding: 21px 8px 20px 10px;
    display: flex;
    flex-direction: row;
    width: 960px;
    box-sizing: border-box;
  }

  .page-header__top {
    width: auto;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .page-header__toggle {
    display: none;
  }

  .main-nav_list {
    display: flex;
  }

  .page-main__title-wrapper {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat center -120px;
    background-size: cover;
  }
}
