.page-footer {
  width: 320px;
  margin: auto;
  color: black;
  background-color: white;
}

.page-footer__logo {
  display: block;
  margin: 40px 86px;
}

.page-footer__copyright {
  font-size: 14px;
  margin: 40px 95px;
  padding: 3px 45px 12px 0;
  background: url("../img/logo-htmlacademy-red.svg") no-repeat right top;
  text-align: left;
}
