.page-header {
  background-color: #283645;
  width: auto;
  color: #ffffff;
  margin: 0;
}

.page-header.page-header--transparent {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  margin: 0;
}

.page-header__top {
  display: flex;
  justify-content: flex-end;
  padding: 22px 20px 23.5px;
  width: 320px;
  margin: auto;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: -50px;
  top: 3px;
}

.page-header__logo-img:hover path {
  fill: #d22856;
}

.page-header__logo-img:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.page-header__toggle--open:hover {
  background: url("../img/icon-menu-cross-red.svg") transparent;
}

.page-header__toggle--open:active {
  background: url("../img/icon-menu-cross-red.svg") transparent;
  opacity: 0.3;
}

.page-header__toggle--open {
  padding: 0;
  background: url("../img/icon-menu-cross.svg") transparent;
  width: 24px;
  height: 23px;
  border: none;
}

.page-header__toggle--closed {
  border: none;
  padding: 0;
  width: 50px;
  height: 24px;
  background: url("../img/icon-menu-burger.svg") transparent;
}

.page-header__toggle--closed:hover {
  background: url("../img/icon-menu-burger-red.svg") transparent;
}

.page-header__toggle--closed:active {
  background: url("../img/icon-menu-burger-red.svg") transparent;
  opacity: 0.3;
}

.page-header__toggle--nojs {
  display: none;
}

@media (min-width: 660px) {
  .page-header__top {
    justify-content: space-between;
    width: 660px;
    padding: 29px 20px 36px;
  }

  .page-header__logo {
    position: unset;
  }

  .page-header__logo img {
    width: 147px;
    height: 40px;
  }

  .page-header__toggle--open {
    padding: 0 0 0 12px;
    margin-top: 15px;
  }
}

@media (min-width: 960px) {
  .page-header {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .page-header__wrapper {
    margin: 0 auto;
    padding: 21px 8px 31px 10px;
    display: flex;
    flex-direction: row;
    width: 960px;
    box-sizing: border-box;
  }

  .page-header__top {
    width: auto;
    padding: 0;
    margin: 0;
    align-items: center;
  }


  .page-header__toggle {
    display: none;
  }

  .page-header__toggle--closed {
    display: none;
  }

  .page-header__toggle--open {
    display: none;
  }

  .page-main__title-wrapper {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat center -120px;
    background-size: cover;
  }
}
