.page-main {
  background-color: white;
  padding: 0;
  color: #283645;
}

.page-main__content-header {
  padding: 60px 25px;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  margin: 0;
}

@media (min-width: 660px) {
  .page-main__content-header {
    padding: 100px 105px;
    line-height: 1.67;
  }
}

@media (min-width: 1200px) {
  .page-main__content-header {
    font-size: 18px;
    padding: 100px 310px;
    line-height: 1.67;
  }
}
