.page-main {
  background-color: white;
  padding: 0;
  color: #283645;
}

.page-main__content-header {
  padding: 60px 25px;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  margin: 0;
}
