.photo-card {
  display: flex;
  font-family: "Open Sans", sans-serif;
  flex-direction: column;
  width: 280px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  color: #283645;
}

.photo-card__photo-link {
  text-decoration: none;
  min-height: 137px;
  width: 280px;
}

.photo-card__header {
  margin: 25px 13px 0;
  display: flex;
  font-size: 14px;
}

.photo-card__author {
  font-weight: bold;
  margin-right: 5px;
}

.photo-card__how-long-ago {
  font-weight: 300;
  font-size: 12px;
}

.photo-card__content {
  font-size: 14px;
  margin: 5px 13px 0;
}

.photo-card__footer {
  margin: 20px 15px;
  font-size: 12px;
  padding-left: 25px;
  color: #d22856;
  background: url("../../img/icon-heart-red.svg") no-repeat 0 50%;
}
