.photo-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  color: #283645;
  box-sizing: border-box;
}

.photo-card__photo-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  height: 180px;
}

.photo-card__photo {
  margin: 0;
  width: 280px;
  height: 180px;
}

.photos__photo-link-panorama .photo-card__photo {
  margin: 0;
  width: 320px;
  height: 180px;
}

.photos__item:first-child .photo-card__wrapper {
  width: 280px;
}


.photo-card__wrapper {
  display: flex;
  padding-left: 18px;
  flex-direction: column;
  flex-grow: 1;
}

.photo-card__header {
  margin-top: 20px;
  display: flex;
  font-size: 14px;
}

.photo-card__author {
  font-weight: bold;
  margin-right: 5px;
  padding: 0;
}

.photo-card__how-long-ago {
  font-weight: 300;
  font-size: 12px;
  padding: 0;
}

.photo-card__content {
  padding: 0;
  font-size: 14px;
  margin: 4px 0 13px;
  line-height: 1.73;
  flex-grow: 1;
  text-align: left;
}

.photo-card__footer {
  margin: 0 0 23px;
  margin-left: 2px;
  font-size: 12px;
  padding: 0 0 0 30px;
  color: #d22856;
  background: url("../img/icon-heart-red.svg") no-repeat 0 50%;
}

@media (min-width: 660px) {
  .photo-card__photo-link {
    height: 300px;
  }

  .photos__photo-link-panorama {
    height: 509px;
  }

  .photos__photo-link-panorama::before {
    right: 20px;
    top: 58px;
  }

  .photo-card {
    width: 300px;
  }

  .photo-card__photo {
    margin: 0;
    width: 300px;
    height: 300px;
  }

  .photo-card__wrapper {
    padding-left: 27px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .photo-card__header {
    margin-top: 26px;
  }

  .photos__item:first-child {
    margin-bottom: 48px;
  }

  .photos__item:first-child .photo-card__wrapper {
    flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    align-items: flex-start;
    width: 630px;
  }

  .photos__item:first-child .photo-card__header {
    max-width: 100%;
    padding-bottom: 0;
    margin-top: 25px;
    order: 1;
  }

  .photos__item:first-child .photo-card__footer {
    max-width: 100%;
    order: 2;
  }

  .photo-card__content {
    margin: 4px 0 16px;
    min-height: 47px;
  }

  .photos__item:first-child .photo-card__content {
    margin-top: 4px;
    margin-bottom: 25px;
    order: 3;
    padding: 0;
    min-height: 0;
  }

  .photo-card__footer {
    margin: 0 0 11px;
    margin-left: 0;
    font-size: 12px;
    padding: 0 50px 0 0;
    color: #d22856;
    background: url("../img/icon-heart-red.svg") no-repeat 228px 50%;
    box-sizing: border-box;
  }

  .photos__item:first-child .photo-card__footer {
    margin-left: auto;
    margin-top: 28px;
    margin-right: 20px;
    margin-bottom: 0;
    padding: 0 31px 0 0;
    box-sizing: border-box;
    background: url("../img/icon-heart-red.svg") no-repeat 108px 50%;
  }
}

@media (min-width: 960px) {
  .photos__item:first-child .photo-card__footer {
    margin-left: auto;
  }

  .photo-card__photo-link {
    height: 400px;
  }

  .photos__photo-link-panorama {
    height: 506px;
  }


  .photo-card__photo {
    height: 400px;
  }

  .photos__photo-link-panorama::before {
    right: 10px;
    top: 54px;
  }

  .photos__item:first-child .photo-card__wrapper {
    width: 940px;
  }

  .photos__item {
    margin-bottom: 50px;
  }

  .photos__item:first-child {
    margin-bottom: 49.5px;
  }

  .photos__item:first-child .photo-card__content {
    margin-bottom: 8px;
  }
}
