.slider__list {
  position: relative;
  width: 100vw;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.slider__toggles {
  display: flex;
  align-items: center;
}

.slider__toggle {
  display: block;
  padding: 0;
  margin-left: 17px;
  text-indent: -9999px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  border: solid 3px transparent;
  box-sizing: border-box;
}

.slider__toggle:hover {
  background: rgba(0, 0, 0, 0.6);
}

.slider__toggle:active {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}

.slider__toggle:first-child {
  margin-left: 0;
}

.slider__toggle.slider__toggle--checked {
  box-sizing: content-box;
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: white;
  border: solid 3px #283645;
}

@media (min-width: 960px) {
  .slider__toggles {
    display: none;
  }
}
